.fv-plugins-bootstrap5 .row .fv-plugins-icon {
    left: 12px;
    right: auto;
}
.fv-plugins-bootstrap5:not(.fv-plugins-bootstrap5-form-inline) label~.fv-plugins-icon {
    top: 32px;
    left: 0;
    right: auto;
}
.stepper.last [data-kt-stepper-action="next"] {
    display: none;
}

.select2-container--bootstrap5 .select2-selection__clear {
    display: block;
    height: .7rem;
    width: .7rem;
    top: 50%;
    left: 3rem;
    right: auto;
    position: absolute;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235E6278'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
}
.has-load[disabled=true]>.indicator-progress{display:inline-block}.has-load[disabled=true]>.indicator-label{display:none}
.wire-loading{
    position: absolute;
    left: 15px;
    top: 40px;
    display: none;
    background: #f5f8fa;
}
.custom_show{
    display: block;
}
.relative{
    position: relative;
}
.daterangepicker .drp-selected {
    font-size: .9rem;
    direction: rtl;
}
